{% extends "layout.html" %}
{% load static %}

{% block title %}
    Вход
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'login.css' %}"/>
{% endblock %}

{% block content %}
    <div class="login-container">
        <h2>Вход</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Войти</button>
        </form>
        <div class="signup-link">
            <p>Нет аккаунта? <a href="{% url 'signup' %}">Зарегистрироваться</a></p>
        </div>
    </div>
{% endblock %}