{% extends 'layout.html'%}
{% load static %}

{% block title %}
    {{ news.title }}
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "news/news-detail.css" %}" />
{% endblock %}

{% block content %}

    {% if comment_form.errors %}
        <div id="alert">
            <h2>Ошибка при сохранении комментария!</h2>
            <p>Пожалуйста, просмотрите заново форму заполнения комментария для исправления ошибок.</p>
            <a href="#comment-form">Исправить!</a>
        </div>
    {% endif %}
    <section id="summary">
    <h2>{{ news.title }}</h2>
    <div>
        {% for tag in news_tags %}
            <span class="tag">{{ tag.caption }}</span>
        {% endfor %}
    </div>
    <div id="read-later">
        <form action="{% url 'read-later' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" value="{{ news.id }}" name="news_id">
            <button>
                {% if is_saved_for_later %}
                    Remove from "Read Later" List
                {% else %}
                    Read Later
                {% endif %}
            </button>
        </form>
    </div>
    <article>
        <img src="{{ news.image_name.url }}" alt={{ news.title }} />
        <address>By <a href="{{ news.author.email }}">{{ news.author }}</a></address>
        <div>
            Last update on <time>{{ news.date|date:'d M Y' }}</time>
        </div>
    </article>
    </section>

    <main>
        {{ news.content|linebreaks }}
    </main>

    <section id="comments">
        <ul>
            {% for comment in comments %}
                <li>
                    <h2>{{ comment.user_name }}</h2>
                    <p>{{ comment.text|linebreaks }}</p>
                </li>
            {% endfor %}
        </ul>
    </section>

    <section id="comment-form">
    <h2>Your Comment</h2>
        <form action="{% url 'news-detail-page' news.slug %}" method="POST">
            {% csrf_token %}
            {% for form_field in comment_form %}
                <div class="form-field {% if form_field %}invalid{% endif %}">
                    {{ form_field.label_tag }}
                    {{ form_field }}
                    {{ form_field.errors }}
                </div>
            {% endfor %}
            <button class="submit-button">Save Comment</button>
        </form>
    </section>
{% endblock %}